.main-nav {border:1px red solid;}

.first-landing {border:1px red solid;}

.appointments {border:1px red solid;}

.about-barber {border:1px red solid;}

.testimonial {border:1px red solid;}

.main-footer {border:1px red solid;}