/* GLOBAL */
@import url(reset.css); /* it doesnt work */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap');

*>body {box-sizing: ;}

h1 , h2 , h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform:uppercase;
    padding:0;
    margin:0;
}

p {
    font-family: 'Poppins', sans-serif;
}

ul {list-style-type: none;}

a {text-decoration: none;
    color:var(--beige);
    font-family:'Poppins', sans-serif;
    text-transform: capitalize;
}



body {
    margin:0;
    padding:0;
    }

:root {
    --gold: rgb(191, 146, 91);
    --black: rgb(20, 27, 37);
    --beige: rgb(235, 232, 222);
}

/*header*/



/* Hamburger menue */
button + .menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  button.menu-open + .menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

.first-nav{
    display:flex;
    top:0;
    width:100%;
    height:5rem;
    background-color: rgba(0, 0, 0, 0.970);
    color:var(--beige);
    justify-content: space-between;
    align-items: center;

}

.first-nav button {
    background-color: transparent;
    color:grey;
    height:30px;
    border:none;
    padding:1rem;
}


.first-nav button:visited {color:grey;}
.first-nav button:hover {color:var(--gold);}

.first-nav h1 {padding:10px;
}

.first-nav button {}


/* First section */

.landing {


    position:relative;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--beige);
    height:100vh;

    
}
/*
sätt relative på parent för att inte bodyn
ska räknas som nästa parent med en position.

position:absolute; på både den mörkande div 
som ska ligga över, men också på texten 
på bakgrunden. 
sen använder man z-index om det är knepigt. 

position ska också användas på cirklarna
i appcards
där kan man använda minus-värden


*/


/* om man ska position */

.landing-container {
    padding:10px;
    max-width:1000px;
     /* ge den rätt bredd */
}

.landing background-img {
    
    width:100%;
   
}

.landing h2 {
    color:var(--gold);
    font-size: 1rem;
    
}

.landing h3 {
    color:var(--beige);
    font-size: 2.5rem;
    
}

.landing span {
    color:transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.676);
    -webkit-text-fill-color: transparent;
    }



.landing .landing-btn {

    font-family: 'Poppins', sans-serif;
    padding:10px;
    background-color: transparent;
    color:var(--gold);
    border:var(--gold) solid 2px;
}

.landing-btn:hover {
    background-color:rgba(9, 9, 9, 0.098);
}

/* beskär bilderna i photoshop 
"object-fit:cover"
"object-position" (ej pixelvärde

margin minusvärde
position:"absolute"
*/



/* second section */
.appointments {display:flex;
    flex-direction: column;
     
}
.app-cards {
    color:var(--beige);
    text-align: center;
     
    padding:0 15vw ;
    background-color:rgb(216, 171, 117);
}

.app-cards:nth-child(even) {
    background-color: var(--gold);
}
/*
.app-cards:nth-child(odd) {
    background-color:rgb(216, 171, 117);
} */

/* IMAGE STYLING */ 

.app-cards img {
    width:30%;
    max-width:50%;
    clip-path: circle(30% at center);
    
}



/* third section */
.about-barber {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding:10px;
    
}

.about-barber-text h2 {
    padding-top:10px;
    font-size:1em ;
    color:var(--gold);
}

.about-barber-booking {
    display:flex;
    background-color: var(--gold);
    height:100px;
    width:60%;
    color:var(--beige);
    align-items: center;
}

.circle {
    background-color: black;
    width:60px;
    height:60px;
    border-radius: 50%;
}
.about-barber-booking img {
    width:40px;
    padding:10px;
}

.about-barber-booking h3 {
    font-size:0.8em ;
}

.about-barber-booking span {
    display: block;
    font-size: 3em;
    text-align: center;
}



/* fourth section */

.testimonial {
    background-color: rgb(205, 201, 201);
    text-align: center;
}

.testimonial h2 {
    color:var(--gold);
    font-size: 0.8em;
}

/* CAROSEL START */

.test-card {
    
    background-color: white;
    height: 400px;
    width: 400px;
    padding:10px;
    
    
}

.test-card-person {
    display: flex;
    text-align:justify;
    padding-left:3vw;

}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
}

.reviewer {
    width:30%;
    border-radius: 50%;
    
}

.test-card-person img {
    width:20%;
}

.costumer {
    font-size: 0.6em;
    color:var(--gold);
    text-transform: uppercase;
    margin:0;
}


/* footer */

.main-footer {
    background-color: black;
    color:var(--beige);
    display:flex;
    flex-direction: column;
    gap:2em;
}



.buttons-flex {
    display: flex;
    position:relative;
    gap:10px;
    
  }


.social {
    position: relative;
    background-color:var(--gold);
    height:30px;
    width:30px;
    border-radius: 50%;
}

.social img {
    width:30%;
    position: relative;
    top: 6px; left:10px;
}


.facebook img {
    width:20%;
    padding:10px;
    position: relative;
    top:-1px; left:0;
}

.facebook {
    position: relative;
    background-color:var(--gold);
    height:30px;
    width:30px;
    border-radius: 50%;
}


.last-card-list {
    display: flex;
}

.footer-card ul {
    padding:0;
}

.footer-card li::before {
    content:">";
    padding:10px;
}


.footer-card-last ul {
    padding:0;
}

.last-card1 {
    display: inline-block;
    width:3%;
}